* {
    font: normal normal normal 16px Meiryo;
}
main {
    margin-top: 90px;
    margin-bottom: 90px;
}
body {
    margin-bottom: 140px !important;
}
textarea{
    height: 150px;
}
/* width  */
.wi-50{
    width: 50px !important;
}
.wi-100{
    width: 100px !important;
}
.wi-150{
    width: 150px !important;
}
.wi-170{
    width: 170px !important;
}
.wi-200{
    width: 200px !important;
}
.wi-250{
    width: 200px !important;
}
.orive {
    color: #998641;
}

.content-header {
    margin: 15px;
}
.content-body {
    margin: 15px;
}
.content-footer {
    margin: 40px 15px;
    width: 100%;
}

@media (min-width: 769px) {
    .sp-only {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .sp-hidden{
        display: none;
    }
    input.form-control {
        height: 47px !important;
    }
    .form-select {
        height: 47px !important;
    }
    .btn {
        height: 47px !important;
    }
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100% !important;
    z-index: 999;
    background-color: #F2F2F2;
    display: flex;
    border-bottom: #DDDDDD 1px solid;
}
header .title-logo a {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

header .notification {
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
}
header .notification p{
    font-size: 13px;
}
header .notification img {
    height: 30px;
    width: 30px;
}

header .account img {
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

header .email p{
    margin-top: 30px !important;
    margin-left: 10px !important;
    margin-right: 20px;
}

header .badge {
    font-size: 10px;
    border: #998641 1px solid;
    border-radius: 50%;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #998641;
    position: relative;
    top: -75px;
    left: 10px;
}

@media (min-width: 769px) {
    header .title-logo a{
        position: absolute;
        top: 30px;
        left: 10px;
    }
}


@media (max-width: 768px) {
    header .title-logo {
        height: 60px;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    header .account {
        position: absolute;
        top: -3px;
        right: 20px;
    }
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    display: flex;
    flex-basis: 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 -2px 2px 0 #EEEEEE;
    border-top: #DDDDDD	 2px solid;
    padding: 0 5%;
}

footer .footer-content {
    width: 15% !important;
    text-align: center;
    margin-top: 5px;
}

footer .footer-content a {
    text-decoration: none;
    color: #000;
}
footer .footer-content img {
    width: 40% !important;
    height: auto;
}
footer .footer-content p {
    width: 100%;
    font-size: 12px;
    margin-bottom: 0;
}
.move-top{
    position: fixed;
    bottom: 80px;
    right: 20px;
    height: 66px;
    width: 66px;
    cursor: pointer;
    opacity: 0;
}
.move-top img{
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #998641;
    border: #998641 1px solid;
    border-radius: 50%;
}


@media (min-width: 769px) {
    footer{
        display: none;
    }
}

/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/

.sidebar-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    margin-top: 90px !important;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .home .sidebar-title{
    background-color: #FFFFFF !important;
  }

  .sidebar-title {
    height: 40px;
    background-color: #F2F2F2;
    padding-left: 15px;
    padding-top: 6px;
    font-size: 15px;
  }
  .sidebar-title p{
    padding-left: 15px;
    padding: auto;
  }
  .sidebar-content{
    padding-left: 0;
    margin-bottom: 0;
  }
  .sidebar-content li{
    border-bottom: #F2F2F2 1px solid;
    background-color: #FFFFFF;
    list-style: none;
    height: 40px;
  }
  .sidebar-content li a{
    text-decoration: none !important; 
    display: flex;
  }
  .sidebar-content li p{
    font-size: 15px;
    color: #000;
    padding-left: 30px;
    padding-top: 6px;
  }
  .sidebar-content img {
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-right: 6px;
    position: relative;
    top: 13px;
  }
  
  @media (max-width: 768px) {
    .menu-active {
      display: none !important;
    }
    .sidebar-area{
        margin-bottom: 60px;
        /* overflow-y:auto; */
    }
  }

/*------------------------------------------------------------
	画面タイトル
------------------------------------------------------------*/
.content-title {
    border-bottom: 1.5px solid #707070;
    width: 100%;
    margin: 40px 0 30px 0 !important;
}
.content-title h5 {
    font-weight: 900 !important;
    width: auto;
    padding-top: 2px;
}

.content-title a {
    height: 24px;
    width: 24px;
    margin-right: 20px;
}
.content-title img {
    height: 24px;
    width: 24px;
}

@media (max-width: 768px) {
    .content-title h5 {
        font-weight: 900 !important;
    }
}

/*------------------------------------------------------------
	ボタン
------------------------------------------------------------*/

.btn {
    min-width: 95px;
}
.submit-btn {
    min-width: 260px !important;
}
.btn-orive {
    background-color: #998641 !important;
    border-color: #998641 !important;
    color: #FFFFFF !important;
}
.btn-orive:hover {
    background-color: #99864140 !important;
    border-color: #99864140 !important;
    color: #FFFFFF !important;
}

.btn-detail {
    background-color: #BBBBBB !important;
    border-color: #BBBBBB !important;
    color: #FFFFFF !important;
    padding: 4.5px 9px 1.5px 10px !important;
    min-width: 0 !important;
    height: 30px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.btn-detail:hover {
    background-color: #CCCCCC !important;
    border-color: #CCCCCC !important;
}

.btn-search {
    background-color: #FFFFFF !important;
    border-color: #BBBBBB !important;
    color: #CECECE !important;
    background-image: url('/src/assets/image/search.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: left center;
    text-align: left !important;
    padding-left: 37px !important;
    font-size: 23px !important;
}
.buttons {
    text-align: center;
    width: 100%;
}
.buttons input{
    width: 100px;
    margin-right: 20px;
}
@media (max-width: 768px) {
    .sp-wide {
        width: 100% !important;
    }
    .buttons input{
        width: 100%;
        margin-bottom: 30px;
    }
}
/*------------------------------------------------------------
	チェックボックス
------------------------------------------------------------*/
input[type=checkbox] {
    display: none; 
}
.checkbox {
    position: relative;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 3px 30px 3px 40px;
}
.checkbox::before {
    background: transparent;
    border: 2px solid #DDDDDD	;
    border-radius: 3px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    left: 16px;
    margin-top: 0;
    position: absolute;
    top: 7px;
}
.checkbox::after {
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    content: '';
    display: block;
    width: 9px;
    height: 18px;
    top: 4px;
    left: 23px;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    transform: rotate(45deg);
    z-index: 100;
}
input[type=checkbox]:checked+.checkbox::after {
    opacity: 1;
}

.offset::before {
    top: -8px;
    left: 0;
}
.offset::after {
    top: -10px;
    left: 7px;
}

.check-settings {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .check-settings .form-check-inline {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    min-width: 166px;
  }


/*------------------------------------------------------------
	一覧上部
------------------------------------------------------------*/
.content-header .search-area {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.content-header .search-area div{
    margin-right: 30px;
    margin-bottom: 10px;
}
.content-header .search-area .form-control{
    height: 47px;
}
.content-header .search-area .form-select{
    width: 100%;
    height: 47px;
}
.content-header .search-area .form-control::placeholder{
    color: #DDDDDD;
    font-size: 15px;
}
.content-header .search-area .search-button {
    height: 47px;
    font-size: 20px;
    min-width: 107px;
    font-weight: bold;
    border-radius: 3px !important;
    margin-left: auto !important;
}
.content-header .search-area .pref-wrap {
    min-width: 132px;
}
.content-header .search-area .pref-wrap p{
    /* min-width:30%; */
    padding-top: 7px;
    padding-left: 0;
    padding-right: 0;
}
.content-header .search-area .pref-wrap div{
    /* width:auto; */
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.content-header .new-button{
    width: 150px;
    border: 1px solid #998641;
    border-radius: 5px;
    background-color: #F8F6F1;
    height: 47px;
    text-align: center;
    margin-right: 20px;
    padding-top: 9px;
}
.content-header .new-button{
    text-decoration: none;
    color: #998641;
}
.content-header .new-button span{
    margin-left: 10px;
    top: 2px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}

.content-header .sort-area{
    align-items: flex-end;
}
.content-header .sort-area .new-button img{
    height: 20px;
    width: 20px;
}

.content-header .sort-area img{
    height: 47px;
    width: 47px;
    fill:  #F2F2F2;
}
.content-header .sort-area select{
    height: 47px;
    padding: 0;
    background-color: #F2F2F2;
    text-align: center;
    border: none !important;
    min-width: 70px;
}
.sort-area .form-select {
    background-image: none !important;
}

.link-orive {
    width: 280px;
    border: 1px solid #998641;
    border-radius: 5px;
    background-color: #F8F6F1;
    height: 47px;
    margin-right: 20px;
    padding-top: 7px;
    text-decoration: none;
    color: #998641;
    display: flex;
    justify-content: center;
    position: relative;
}
.content-header .link-orive span{
    margin: 0 auto;
    top: 2px;
    position: relative;
    font-weight: bold;
    font-size: 16px;
}
.content-header .link-orive img{
    padding: 0 40px 0 20px;
    position: absolute;
    left: 0;
}

@media (max-width: 768px) {
    .content-header .new-button{
        margin-left: 0 !important;
        margin-right: auto;
    }
    .content-header .sort-area{
        margin-left: auto !important;
    }  
    .content-header .search-area {
        width: 100%;
        display: block;
    }
    .content-header .search-area div{
        width: 100%;
    }
    .content-header .search-area .form-control{
        width: 100%;
        height: 35px;
    }
    .content-header .search-area .form-select{
        width: 100%;
        height: 35px;
    }
    .content-header .search-area .search-button {
        width: 100%;
        height: 47px !important;
    }
    .sort-area {
        margin-right: 40px;
    }
    .content-header .new-button{
        height: 47px !important;
        padding-top: 7px;
    }
    .content-header .sort-area img{
        height: 47px;
        width: 47px;
    }
    .content-header .link-orive{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .content-header .link-orive span{
        font-size: 22px !important;
        top: 0;
    }
    .content-header .link-orive img{
        position: absolute;
        left: 0;
    }

}

@media (min-width: 769px) {
    .annotation {
        float: right;
    }
    .claim-wrap {
        display: flex;
    }
    .claim-wrap p:nth-child(1) {
        padding-top: 20px !important;
    }
}

@media (max-width: 768px) {
    .claim-wrap p {
        font-size: 20px;
        padding-top: 20px !important;
    }
}

/* 検索モーダル */
.modal-body .modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.modal-body .search-submit input{
    font-size: 18px;
    font-weight: bold;
}
.modal-body .cancel a{
    font-size: 16px;
    color: #998641 !important;
}
/* 詳細モーダル */
.buy-item {
    margin: 30px auto;
    border-top: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
    padding: 20px 0;
}
.buy-item table th, 
.buy-item table td {
    text-align: left;
}


/*------------------------------------------------------------
	一覧
------------------------------------------------------------*/
.content-body .list-table {
    border-top: 2px solid #BBBBBB;
    text-align: center;
}
.content-body .list-table ul{
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
.content-body .list-table li{
    list-style: none;
}
.content-body .list-table .tr{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #BBBBBB;
    padding-top: 19px;
    padding-bottom: 15px;
}
.content-body .list-table .sp-detail{
    border-bottom: 1px solid #BBBBBB;
}

.content-body .list-table .th {
    font-size: 14px;
    text-align: center;
    flex-basis: auto;
    flex: 1;
}
.content-body .list-table .td {
    font-size: 12px;
    text-align: center;
    flex: 1;
}


@media (min-width: 769px) {
    .grow-3 {
        flex-grow: 3 !important;
    }
    .grow-2 {
        flex-grow: 2 !important;
    }
    .grow-1 {
        flex-grow: 1 !important;
    }

}
@media (max-width: 768px) {
    .list-table {
        display: flex;
        flex-wrap: wrap;
    }
    .content-body .list-table .head{
        display: block;
        width: 30% !important;
        text-align: right;
    }
    .content-body .list-table .body{
        display: block;
        width: 60% !important;
        text-align: left;
    }
    .content-body .list-table .sp-detail{
        display: table-cell;
        width: 10% !important;
        position: relative;
    }
    .content-body .list-table .sp-detail a{
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .content-body .list-table .th{
        text-align: left;
        line-height: 20px; 
    }
    .content-body .list-table .td{
        text-align: left;
        line-height: 20px; 
        padding-left: 10px;
    }
    .content-footer .pager {
        display: none;
    }
}


/*------------------------------------------------------------
	ページャー (仮)
------------------------------------------------------------*/
.content-footer .pager{
    display: flex;
    flex-wrap: wrap;
}
.content-footer .pager li {
    list-style: none;
    height: 30px !important;
    width: 30px !important;
    text-align: center;
}
.content-footer .pager a{
    text-decoration: none;
    color: #998641;
}

.content-footer .pager .pager-num a{
    color: black;
}
.content-footer .pager .pager-prev, 
.content-footer .pager .pager-next {
    border: 2px solid #F2F2F2;
    background-color: #FAFAFA;
    border-radius: 3px;
}

@media (min-width: 769px) {
    .content-footer .pager .pager-prev{
        margin-right: 10px;
        margin-left: auto !important;
    }
    .content-footer .pager .pager-next{
        margin-left: 10px;
        margin-right: 30px;
    }
}


@media (max-width: 768px) {
    .content-footer .pager{
        justify-content: center;
        padding-left: 0;
        margin-left: 0 !important;
    }
    .content-footer .pager li {
        height: 47px !important;
        width: 47px !important;
        padding-top: 7px;
    }
}

/*------------------------------------------------------------
	詳細
------------------------------------------------------------*/
.content-body-title {
    width: 100%;
    border-bottom: 1.5px solid #BBBBBB;
    margin-bottom: 20px;
}

.content-body .column {
    color: #998641;
    font-weight: 800;
    width: 150px
}
.content-body .column-2 {
    color: #998641;
    font-weight: 800;
    width: 240px
}
.content-body .number {
    width: 100px
}
.content-body .items {
    margin-bottom: 30px;
    padding-top: 0;
    padding-left: 30px;
    border-top: 1.5px solid #BBBBBB;
    border-bottom: 1.5px solid #BBBBBB;
}
.content-body .item {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1.5px dashed #BBBBBB ;
}
.content-body .item:nth-child(1) {
    border-top: none ;
}
.content-body .add-buttons{
    text-align: center;
    margin: 30px auto;
}
.content-body .add-buttons img {
    height: 37px;
    width: 37px;
    cursor: pointer;
    fill: #998641;
    margin: 0 30px;
}
.categorys .add-button {
    width: 37px;
    height: 37px;
    padding: 0;
}
.categorys .category {
    width: auto;
}
.categorys .category img {
    width: 37px;
    height: 37px;
    cursor: pointer;
    padding: 0;
}
.categorys .category span {
    width: auto;
}
.category .row {
    margin-right: 10px !important;
    margin-left: 0 !important;
}
.category p {
    padding-top: 6px;
}
.demand-num {
    width: 100px !important;
}

@media (max-width: 768px) {
    .content-body .number {
        width: auto;
    }
    .content-body .offset {
        width: 100px;
    }
}

.login-page, .register-page {
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}
.login-logo, .register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
    .content-body .add-buttons img {
        height: 40px;
        width: 40px;
    }
    .content-body .column {
        font-size: 17px;
        width: 100%;
    }
    .categorys .add-button {
        margin: 0 auto;
    }
}

.target-areas {
    padding-bottom: 60px;
    border-bottom: #998641 1px solid;
}

.pr-areas .check-settings span{
    cursor: pointer;
}

/* 帳票類項目 */
.reports .report p {
    padding-top: 6px;
}
.reports .report img {
    height: 37px;
    width: 37px;
    padding: 0;
}

/* 特別売上/費用管理 */
.expenses {
    max-width: 1920px !important;
}
.expenses .e-item{
    width: auto;
    margin: 0;
    padding: 0;
}
.expenses .e-item p{
    width: 55px;
    padding: 5px 0 0 0;
    text-align: right;
}
.expenses .e-item div{
    width: 120px;
}
.expenses .e-amount {
    padding-top: 5px;
}
.expenses .e-total {
    border-top: #BBBBBB 1px solid;
    border-bottom: #BBBBBB 1px solid;
}
.expenses .e-remarks {
    border-bottom: #BBBBBB 1px solid;
}

@media (max-width: 992px) {
    .expenses .e-item div,
    .expenses .e-item select{
        width: 100% !important; 
    }
    .max-wi {
        width: 100% !important;
    }
    .expenses .e-item p{
        text-align: left;
    }
    .e-items {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: #BBBBBB 1px solid ;
    }
}
/* 加盟店ファネルマスタ */
.funnel-items .funnel-item {
    margin: 5px 0;
}
.funnel-items .funnel-item img{
    width: 37px;
    height: 37px;
    cursor: pointer;
}
.funnel-items .funnel-item p{
    width: auto;
    padding: 6px;
}

/* サービス料金マスタ */
.service-price-green {
    width: 100%;
    min-width: 1200px;
}
.service-price-green *{
    font-size: 12px !important;
}

.service-price-green tr{
    /* border: blue 1px solid; */
}
.service-price-green th{
    border: #FFFFFF 2px solid;
    background-color: #275e24;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.service-price-green td {
    border: #FFFFFF 2px solid;
    background-color: #92d050;
    font-weight: bold;
    text-align: center;
}

.service-price-green input {
    height: 100%;
    width: 100%;
    text-align: right;
    background-color: #92d050;
    border: none;
}
.service-price-green .remarks {
    position: relative;
}
.service-price-green textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #92d050;
    border: none;
    resize: none;
}

.service-price-green .gomi{
    background-color: #e0ffa3 !important;
}
.service-price-green .gomi input{
    background-color: #e0ffa3 !important;
    width: 40%;
}

.service-price-green .wakaba td,
.service-price-green .wakaba td input,
.service-price-green .wakaba td textarea{
    background-color: #bae18f;
}
.service-price-green .veludo th{
    background-color: #163414;
}


.service-price-orange {
    width: 100%;
    min-width: 1200px;
}
.service-price-orange *{
    font-size: 12px !important;
}

.service-price-orange tr{
    /* border: blue 1px solid; */
}
.service-price-orange th{
    border: #FFFFFF 2px solid;
    background-color: #ee5924;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.service-price-orange td {
    border: #FFFFFF 2px solid;
    background-color: #fad1b8;
    font-weight: bold;
    text-align: center;
}

.service-price-orange input {
    height: 100%;
    width: 100%;
    text-align: right;
    background-color: #fad1b8;
    border: none;
}
.service-price-orange .remarks {
    position: relative;
}
.service-price-orange textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fad1b8;
    border: none;
    resize: none;
}

.service-price-orange .gomi input{
    /* background-color: #e0ffa3 !important; */
    width: 40%;
}

.service-price-orange .rose td,
.service-price-orange .rose td input,
.service-price-orange .rose td textarea{
    background-color: #fac5bc;
}
.service-price-orange .veludo th{
    background-color: #163414;
}



.service-price-blue {
    width: 100%; 
    min-width: 1200px;
}
.service-price-blue *{
    font-size: 12px !important;
}

.service-price-blue tr{
    /* border: blue 1px solid; */
}
.service-price-blue th{
    border: #FFFFFF 2px solid;
    background-color: #2f6fbc;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.service-price-blue td {
    border: #FFFFFF 2px solid;
    background-color: #99c6e4;
    font-weight: bold;
    text-align: center;
}

.service-price-blue input {
    height: 100%;
    width: 100%;
    text-align: right;
    background-color: #99c6e4;
    border: none;
}
.service-price-blue .remarks {
    position: relative;
}
.service-price-blue textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #99c6e4;
    border: none;
    resize: none;
}

.service-price-blue .gomi input{
    /* background-color: #e0ffa3 !important; */
    width: 40%;
}

.service-price-blue .sky-blue td,
.service-price-blue .sky-blue td input,
.service-price-blue .sky-blue td textarea{
    background-color: #cce3f2;
}



.service-price-winter {
    width: 100%; 
    min-width: 1200px;
}
.service-price-winter *{
    font-size: 12px !important;
}

.service-price-winter tr{
    /* border: blue 1px solid; */
}
.service-price-winter th{
    border: #FFFFFF 2px solid;
    background-color: #28abe3;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.service-price-winter td {
    border: #FFFFFF 2px solid;
    background-color: #aee0f4;
    font-weight: bold;
    text-align: center;
}

.service-price-winter input {
    height: 100%;
    width: 100%;
    text-align: right;
    background-color: #aee0f4;
    border: none;
}
.service-price-winter .remarks {
    position: relative;
}
.service-price-winter textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #aee0f4;
    border: none;
    resize: none;
}

.service-price-winter .gomi input{
    /* background-color: #e0ffa3 !important; */
    width: 40%;
}

.service-price-winter .sky-blue td,
.service-price-winter .sky-blue td input,
.service-price-winter .sky-blue td textarea{
    background-color: #d4eef9;
}


.invoices-modal .modal-dialog {
    max-width: 800px;
}
.invoices-modal .image-area {
    width: 250px;
    height: 140px;
    padding: 0;
    margin-left: calc(var(--bs-gutter-x) * .5);
}
.invoices-modal .image-area img{
    width: 120px;
    height: 120px;
    margin: 16px;
}
.invoices-modal .dropzone {
    padding: 0;
    text-align: center;
}
.invoices-modal .dz-preview {
    margin: 0 auto !important;
}
.invoices-modal .dz-message {
    margin: 0 !important;
}

/* 仕入先 */
.suppliers-wrap {

}

.suppliers-wrap .content-body-title {
    border: none;
}
.suppliers-wrap .content-body-title h5{
    color: #998641;
    font-weight: bold;
    font-size: 19px;
}
.suppliers-wrap .column{
    color: black;
}
.suppliers-wrap .account {
    padding-left: 30px;
}
.suppliers-wrap .account-column{
    color: #998641;
}
.suppliers-wrap .supplier-border{
    width: 100%;
    /* height: 1px; */
    border-bottom: 1.5px solid #BBBBBB;
    margin-bottom: 30px;
}

/* 備品資材 */
.materials-wrap {

}

.materials-wrap .content-body-title {
    border: none;
}
.materials-wrap .content-body-title h5{
    color: #998641;
    font-weight: bold;
    font-size: 19px;
}
.materials-wrap .column{
    color: black;
}
.suppliers-wrap .account {
    padding-left: 30px;
}
.suppliers-wrap .account-column{
    color: #998641;
}